.font-book-eng {
    font-size: 60px !important;
}

.font-bold-eng {
    font-size: 42.5px !important;
}

.botao-gerencia-eng {

    margin-left: 10% !important;
}

.key-eng {
    width: 150px !important;
     height: 74px !important;
     background-image: url(../img/key-p.png) !important;
     float: left;
     margin-left: 20px;
     margin-top: 25px;
}

#turnkey .subtitulo-azul {
    font-size: 30px !important;
}

.subtitulo-azul-eng {
    margin-left: -15px !important;
    color:#0877bd !important;
    text-transform: none !important;
}

.icone-cobertura1 {
    background-repeat: no-repeat;
    height:100px !important; 
}

.solution2 {
    margin-left: -70px !important;
}

@media screen and (max-width: 1280px) {
    .botao-gerencia-eng {
    margin-left: 13% !important;
    }
}

@media screen and (max-width: 1024px) {
    .key-eng {
        margin-right: 5px !important;
        margin-left: 5px !important;
    }
    
    .solution2 {
        margin-left: 5px !important;
    }
    
    .cobertura-box1 {
        margin-right: 70px !important;
    }
}

@media screen and (max-width: 1020px) {
    .subtitulo-azul-eng {
    width: 100% !important;
    float: none !important;
    text-align: center !important;
    }
}

@media screen and (max-width: 980px) {
    .subtitulo-azul-eng {
    margin-top: -20px !important;
    }
    
    .boxes-laterais {
        width: 240px !important;
    }
    
    .icone-cobertura1 {
    height: 60px !important;
}

.grafico-cobertura img {
    height: auto !important;
}
}

@media screen and (max-width: 915px) {
    .box-chamada-gerencia-eng {
         width: 100% !important;
         margin-left: 0 !important;
         margin-top: 0 !important;
     }
     
     .box-medicacao-800px {
         display: inherit !important;
         width: 721px !important;
         height: 435px !important;
         background-image: url(../img/bg-medicacao-p.png) !important;
         background-size: cover;         
         margin-left:146px !important;
         margin-bottom: 20px !important;
     }
     
     .title-gerencia {
         width: auto !important;
     }

     .box-bg-medicacao {
         background-image: none !important;
         height: auto !important;
     }
     
     .botao-gerencia-eng {
         margin-left: 24% !important;
     }
}

@media screen and (max-width: 900px) {
    .key-eng {
        margin-top: 0 !important;
    }
    
    .solution2 {
        width: auto !important;
        float: left !important;
        margin-top: 0px !important;
        margin-left: 0 !important;
    }
    .boxes-laterais {
         margin: 30px auto;
         width: 80% !important;
     }
    
}

@media screen and (max-width: 800px) {
    .botao-gerencia-eng {
         margin-left: 22% !important;
     }
     
     .subtitulo-azul-eng {
         width: auto !important;
         float: left !important;
         margin-top: 0 !important;
     }
     
     .key-eng {
         margin-top: 0 !important;
     }
}

@media screen and (max-width: 768px) {
    .botao-gerencia-eng {
         margin-left: 20% !important;
     }
}

@media screen and (max-width: 640px) {
    .key-eng {
         margin-top: -90px !important;
         margin-left: 65% !important;
     }
     
     .solution2 {
         display: none !important;
     }
     
     .solution1 {
         display: inherit !important;
         margin-left:0 !important;
     }
     
     .box-titulo-turnkey .sprite-seta-laranja {
         height: 70px;
     }
     
     .botao-gerencia-eng {
         margin-left: 13% !important;
     }
     
     #service .subtitulo-reb {
         line-height: 55px !important;
     }
}

@media screen and (max-width: 625px) {
    .font-book-eng {
         font-size: 40px !important;
     }

     .font-bold-eng {
         font-size: 28px !important;
     }

     .font-black-eng {
         font-size: 52px !important;
     }
     
     .botao-gerencia-eng {
         margin-left: 10% !important;
     }
}

@media screen and (max-width: 480px) {
    .botao-gerencia-eng {
         margin-left: 3% !important;
     }
     
     .box-titulo-turnkey {
         width: 200px;
     }
     
     .box-titulo-turnkey .sprite-seta-laranja {
         margin-top: 60px !important;
     }
     
     .key-eng {
         margin-left: 50% !important;
         margin-top: -120px !important;
     }
     
}

@media screen and (max-width: 395px) {
.icone-cobertura1 {
    height:60px !important; 
}
}

@media screen and (max-width: 360px) {
    .botao-gerencia-eng {
         margin-left: 0px !important;
         font-size: 14px !important;
     }
     
     .box-medicacao-800px {
         margin-left: 0 !important;
     }
     
     .box-titulo-turnkey {
         width: 100%;
     }
     
     #turnkey .subtitulo-azul {
         font-size: 28px !important;
     }
     
     .key-eng {
         margin-left: 10% !important;
     }
     
     .solution2 {
         display: inherit !important;
     }
     
     .solution1 {
         display: none !important;
         
     }
     
     .box-titulo-turnkey .sprite-seta-laranja {
         margin-top: 18px !important;
         height: 50px !important;
     }
     
     .subtitulo-azul-eng {
         margin-left: 0px !important;
     }
     
     .key-eng {
    width: 103px !important;
     height: 51px !important;
     background-image: url(../img/key-micro.png) !important;
     float: left;
}

#service .subtitulo-reb {
         line-height: 25px !important;
     }
     
      #service .sprite-seta-laranja {
  height: 30px !important;
  margin-top: 10px !important; 
}
     
}

@media screen and (max-width: 320px) {
    .botao-gerencia-eng {
         margin-left: 0px !important;
     }
     
     #turnkey .subtitulo-azul {
         font-size: 20px !important;
     }
     
     .solution2 {
         margin-top: 10px !important;
     }
     
    
}