@font-face {
    font-family: 'AvenirLTStd45Book';
    src: url('avenirltstd-book.eot');
    src: url('avenirltstd-book.eot') format('embedded-opentype'),
         url('avenirltstd-book.woff2') format('woff2'),
         url('avenirltstd-book.woff') format('woff'),
         url('avenirltstd-book.ttf') format('truetype'),
         url('avenirltstd-book.svg#AvenirLTStd45Book') format('svg');
}
